<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css">
	<link rel='stylesheet' href='/stylesheets/loader.css' />
</head>
<body>
<div class="content">
	<div class="loader-container">
		<div class="loader">
			<i class="fa fa-spinner fa-spin fa-5x"></i>
		</div>
	</div>
</div>
</body>
</html>
